:root {
  --bg-color: #18181b;
  --text-color: #ffffff;
  --primary-color: #93c5fd;
  --primary-hover-color: #60a5fa;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

.content {
  text-align: center;
}

nav > a {
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.2s;
}

nav > a:hover {
  color: var(--primary-hover-color);
}
